# Ignorar ambientes virtuais
venv/
venv311/

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de dados locais e históricos
tweets_lidos*.json
alertas_gerados.json
noticias_lidas_*.json
fatos_lidos_cvm.json

# Ignorar logs e caches
*.log
*.cache
