streamlit==1.45.1
selenium==4.32.0
beautifulsoup4==4.13.4
requests==2.32.3
pandas==2.2.3
yfinance==0.2.36
matplotlib==3.8.4
python-dotenv==1.0.1
schedule==1.2.1
lxml==5.2.1
altair==5.2.0
GitPython==3.1.44
email-validator==2.1.0.post1
